{% extends 'main.html' %}
{% load static %}

{% block search %}
<form class="d-flex"  action="" method="GET">
  <input type="text" class="form-control form-control-sm mr-2" placeholder="Search" style="width: 60%;" name="q">
  <input type="submit" class="btn btn-sm btn-outline-secondary" value="Search">
</form>
{% endblock search %}
{% block tag %}
  {% for tag in tags %}
  <a class="p-2 link-secondary" href="{% url 'tag' tag.tagname %}">{{ tag }}</a>
  {% endfor %}
{% endblock tag %}
{% block post %}
      {% for post in page_obj %}
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
        <p class="blog-post-meta"> {{post.created}} by <a href="#">{{request.user.username}}</a></p>

        {{post.content|safe}}
        <hr/>
      {% endfor %}

{% endblock post %}

{% block paginator %}
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock paginator %}

{% block latest %}

<div class="row mb-2">
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ latest.user.username }}</strong>
        <h3 class="mb-0">{{ latest.title }}</h3>
        <div class="mb-1 text-muted">{{ latest.created |timesince}}</div>
        <p class="card-text mb-auto">{{ latest.content |slice:":50" | safe}}...<a href="{% url 'post' latest.slug %}" class="stretched-link">more</a></p>
        <a href="{% url 'post' latest.slug %}" class="stretched-link">Continue reading</a>
      </div> 
      <div class="col-auto d-none d-lg-block">
        <img class="img-fluid"  src="{% static latest.thumnail.url %}" width="270" height="220">

      </div>
    </div>
  </div>

  </div>
</div>

{% endblock latest %}