{% extends 'main.html' %}
{% load static %}

{% block search %}
<form class="d-flex"  action="" method="GET">
  <input type="text" class="form-control form-control-sm mr-2" placeholder="Search" style="width: 60%;" name="q">
  <input type="submit" class="btn btn-sm btn-outline-secondary" value="Search">
</form>
{% endblock search %}
{% block tag %}
  {% for tag in tags %}
  <a class="p-2 link-secondary" href="?q={{tag}}">{{ tag }}</a>
  {% endfor %}
{% endblock tag %}
{% block post %}
      {% for post in page_obj %}
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
        <p class="blog-post-meta"> {{post.created}} by <a href="#">{{request.user.username}}</a></p>

        {{post.content|safe}}
        <hr/>
      {% endfor %}

{% endblock post %}

{% block paginator %}
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock paginator %}

